<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>*** WEBAPPLIKATION --- ZAHLENRATESPIEL ***</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block html_head %}{% endblock %}
</head>

<body>

<div class="stil">
    <div class="abstand"><h1>* * * Z A H L E N - R A T E - S P I E L * * *</h1></div>

    <div>
        <p><a href="/game">Spielen</a> | <a href="/profile">Profil</a> | <a href="/users">Alle Nutzer</a></p>
    </div>

    <div class="abstand">
        {% block content %}
        {% endblock content %}
    </div>

</div>
</body>
</html>
